// greeting.less

.greeting {
  position: relative;

  min-height: 509px;

  background-color: var(--light-blue);
  background-image: url("../../img/index/greeting__main-photo.jpg");
  background-size: 1200px 509px;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/index/greeting__main-photo@2x.jpg");
  }
}

.greeting__slogan {
  position: absolute;
  top: 77px;
  left: 0;
  right: 0;

  margin: 0 auto;
}

.greeting__element {
  position: absolute;
  bottom: 0;

  fill: var(--white);
}
