// header.less

.header__nav {
  position: relative;

  min-height: 56px;

  z-index: 100;
}

.header__nav::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  margin: 0 auto;

  width: 138px;
  height: 70px;

  background-image: url("../../img/svg/header__logo.svg");
  background-repeat: no-repeat;
}

.header__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  .no__margin-padding();
  padding-left: 72px;
  padding-right: 72px;

  list-style-type: none;
}

.header__item {
  display: flex;
  align-items: center;

  width: 264px;

  font-weight: 700;
  text-transform: uppercase;
}

.header__item:nth-of-type(n),
.header__item:nth-of-type(2n) {
  justify-content: flex-start;
}

.header__item:nth-of-type(4n-1),
.header__item:nth-of-type(4n) {
  justify-content: flex-end;
}

.header__link {
  padding-top: 15px;
  padding-bottom: 15px;

  color: var(--black);

  transition: color 0.1s linear;

  &:hover {
    color: var(--light-blue);
  }

  &:focus {
    color: var(--brown);
    opacity: 1;
  }

  &:active {
    color: var(--black);
    opacity: 0.3;
  }
}

.header__logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  margin: 0 auto;
}
