// variables.less

:root {
  // global

  --black: #000000;
  --white: #ffffff;
  --item-background: linear-gradient(168.14deg, #2c354f -3.85%, #596d99 135.11%);
  --background: #e5e5e5;
  --yellow: #ffdd2d;

  --height: 512px;

  // linear-gradient

  --start: #2c354f;
  --end: #596d99;
}


@tablet-width: 660px;
@desktop-width: 1000px;
