// fonts.less

@font-face {
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;

  src: url("../../fonts/sf-pro-regular.woff2") format("woff2"),
    url("../../fonts/sf-pro-regular.woff") format("woff");
}

@font-face {
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 700;

  src: url("../../fonts/sf-pro-bold.woff2") format("woff2"),
    url("../../fonts/sf-pro-bold.woff") format("woff");
}
